<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BLOG</title>
  <style>
    *{
      margin: 0px;
      padding: 0px;
    }
  </style>
</head>
<body>
  <ul style="list-style-type:none; width: 80%; margin: 0 auto;">
    <li>
      <table width="100%"; cellpadding="10px"; cellspacing="10px";>
        <tr>
          <td rowspan="4" width="20%" align="center">
            <table>
              <tr>
                <td>
                  <img src="https://timgsa.baidu.com/timg?
                  image&quality=80&size=b9999_10000&sec=1534576999&di
                  =9ec4cc5596e3fd02f3f306c6d1b62cb7&imgtype=jpg&er=
                  1&src=http%3A%2F%2Fimages.liqucn.com%2Fimg%2Fh1%
                  2Fh964%2Fimg201709151158230_info300X300.jpg"
                       height="128px" width="128px">
                </td>
              </tr>
              <tr>
                <td align="center">
                  <p style="width: 100px;white-space: nowrap;
                  overflow: hidden;text-overflow:ellipsis;">平山丁少</p>
                </td>
              </tr>
            </table>
          </td>
          <td>
            title
          </td>
        </tr>
        <tr>
          <td>
            <p>情感　星座　男女</p>
          </td>
        </tr>
        <tr>
          <td>
            <p style="min-height: 100px;">
              博客正文
            </p>
          </td>
        </tr>
        <tr>
          <td align="right">
            评论数：{{a}}
          </td>
        </tr>
      </table>
    </li>
    <li>
      <table width="100%"; cellpadding="10px"; cellspacing="10px";>
        <tr>
          <td rowspan="4"  width="20%" align="center">
            <table>
              <tr>
                <td>
                  <img src="https://timgsa.baidu.com/
                  timg?image&quality=80&size=b9999_
                  10000&sec=1533982473643&di=ea3d908
                  aa9cea679d87fe22fb4719efa&imgtype=
                  0&src=http%3A%2F%2Fupload.besoo.com%
                  2Ffile%2F201608%2F18%2F1921362045908.jpg"
                       height="128px" width="128px">
                </td>
              </tr>
              <tr>
                <td align="center">
                  <p style="width: 100px;white-space: nowrap;
                  overflow: hidden;text-overflow:ellipsis;">
                    平山丁少平山丁少平山丁少平山丁少平山丁少平山丁少
                    平山丁少平山丁少平山丁少平山丁少平山丁少平山丁少
                    平山丁少平山丁少平山丁少平山丁少平山丁少
                  </p>
                </td>
              </tr>
            </table>
          </td>
          <td>
            title
          </td>
        </tr>
        <tr>
          <td>
            <p>情感　星座　男女</p>
          </td>
        </tr>
        <tr>
          <td>
            <p style="min-height: 100px;">
              博客正文博客正文博客正文博客正文博客正文博客正文博客正文博客正文
              博客正文博客正文博客正文博客正文博客正文博客正文博客正文博客正文
              博客正文博客正文博客正文博客正文博客正文博客正文博客正文博客正文
              博客正文博客正文博客正文博客正文博客正文博客正文博客正文博客正文
              博客正文博客正文博客正文博客正文博客正文博客正文博客正文博客正文
              博客正文博客正文博客正文博客正文博客正文博客正文博客正文博客正文
              博客正文博客正文博客正文博客正文博客正文博客正文博客正文博客正文
              博客正文博客正文博客正文博客正文博客正文博客正文博客正文博客正文
            </p>
          </td>
        </tr>
        <tr>
          <td align="right">
            评论数：{{rand(5000,6000000)}}
          </td>
        </tr>
      </table>
    </li>
  </ul>
</body>
</html>