<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="/static/js/jquery-1.11.3.js"></script>
    <script src="/static/js/register.js"></script>
</head>
<body>
    <img src="/static/images/huiyuan.jpg" alt="">
    <form action="#" id="formReg">
        <p>姓名
            <input type="text" name="name" id="">
        </p>
        <p>密码
            <input type="password" name="password" id="upwd">
        </p>
        <p>确认密码
            <input type="password" name="password2" id="cpwd">
        </p>
        <p>手机号
            <input type="text" name="phone" id="">
        </p>
        <p>邮箱
            <input type="text" name="email" id="">
        </p>
        <p>
            <input type="submit" value="注册">
        </p>
    </form>
</body>
</html>