<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h2>************正向查询**************</h2>
    <h2>作者</h2>
    <h3>{{author.name}}</h3>
    <h2>出版社</h2>
    {% for pub in publisherList %}
        <h3>{{pub.name}}</h3>
    {% endfor %}
    <h2>************反向查询**************</h2>
    <h2>出版社</h2>
    <h3>{{publisher.name}}</h3>
    <h2>作者</h2>
    {% for author in authorList %}
        <h3>{{author.name}}</h3>
    {% endfor %}
</body>
</html>