<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form action="/08_login/" method="post">
    {% csrf_token %}
    <p>
      user:
      <input type="text" name="name" id="name">
    </p>
    <p>
      password:
      <input type="password" name="pwd" id="pwd">
    </p>
    <p>
      <input type="submit" value="登录">
    </p>
  </form>
</body>
</html>