<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        body{
            margin: 0px;
            padding: 0px;
        }
        td{
            text-align: center;
        }
        table{
            background: #0f0;
        }
    </style>
</head>
<body>
    <h3>标题为:{{name}}</h3>
    <table width="400px" cellpadding="10px" cellspacing="0px" border="1px">
        <tr>
            <td>书名</td>
            <td>作者</td>
            <td>主题</td>
        </tr>
        <tr>
            <td>{{name}}</td>
            <td>{{author}}</td>
            <td>{{title}}</td>
        </tr>
    </table>
</body>
</html>